;;writing ñ using alt + n
{:profiles
 {:goku {:default true
         :sim 50
         :delay 80
         :alone 120
         :held 70}}
 :layers {:alt {:key :left_option}}
 :main [
     {:des "alt mode"
      :rules [:alt
        [:n [:!On :n]]
      ]}
 ]
}

;;writing ñ by pressing left option
{:profiles
 {:goku {:default true
         :sim 50
         :delay 80
         :alone 120
         :held 70}}
 :main [
     {:des "left option to ñ" :rules [[:##left_option :left_option nil {:alone [:!On :n]}]]}
 ]
}